.button{
    -fx-background-color: #393351;
    -fx-background-radius:30 0 0 30;
}

.button:hover{
    -fx-background-color: #524A7B;
    -fx-background-radius:30 0 0 30;
}

.button:pressed{
    -fx-background-color: #2F2B43;
}